<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.itsv.mapper.SLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.data.itsv.model.SLog">
        <id column="ID" property="id" />
        <result column="TYPE" property="type" />
        <result column="opt_type" property="optType" />
        <result column="user_id" property="userId" />
        <result column="ip" property="ip" />
        <result column="CONTENT" property="content" />
        <result column="CREATETIME" property="createtime" />
        <result column="error" property="error" />
        <result column="parameter" property="parameter" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TYPE, opt_type, user_id, ip, CONTENT, CREATETIME, error, parameter
    </sql>

</mapper>
