<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.itsv.mapper.SLogMapper">
  <resultMap id="BaseResultMap" type="com.data.itsv.model.SLog">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="CLIENTADDR" jdbcType="VARCHAR" property="clientaddr" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.data.itsv.model.SLog">
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, `TYPE`, USERNAME, CLIENTADDR, CREATETIME
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <select id="selectByPrimaryId" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_log
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.data.itsv.model.SLog">
    insert into s_log (ID, `TYPE`, USERNAME, 
      CLIENTADDR, CREATETIME, CONTENT
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{clientaddr,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.data.itsv.model.SLog">
    insert into s_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="type != null">
        `TYPE`,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="clientaddr != null">
        CLIENTADDR,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="clientaddr != null">
        #{clientaddr,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>