<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.itsv.mapper.SRoleUserMapper">
  <resultMap id="BaseResultMap" type="com.data.itsv.model.SRoleUser">
    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <insert id="insert" parameterType="com.data.itsv.model.SRoleUser">
    insert into s_role_user (USER_CODE, ROLE_ID)
    values (#{userCode,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.data.itsv.model.SRoleUser">
    insert into s_role_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        USER_CODE,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>