<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.itsv.mapper.VAnalyseFdTemplateMapper">
  <resultMap id="BaseResultMap" type="com.data.itsv.model.VAnalyseFdTemplate">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SWVERSION" jdbcType="VARCHAR" property="swversion" />
    <result column="HDVERSION" jdbcType="VARCHAR" property="hdversion" />
    <result column="BANDWIDTH" jdbcType="INTEGER" property="bandwidth" />
    <result column="CHANNEL_NUM" jdbcType="INTEGER" property="channelNum" />
    <result column="FACTORY_CODE" jdbcType="VARCHAR" property="factoryCode" />
    <result column="FDTYPE_CODE" jdbcType="VARCHAR" property="fdtypeCode" />
    <result column="DESCS" jdbcType="VARCHAR" property="descs" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, `NAME`, SWVERSION, HDVERSION, BANDWIDTH, CHANNEL_NUM, FACTORY_CODE, FDTYPE_CODE, 
    DESCS
  </sql>
  <select id="selectByPrimaryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_analyse_fd_template
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.data.itsv.model.VAnalyseFdTemplate">
    insert into v_analyse_fd_template (ID, `NAME`, SWVERSION, 
      HDVERSION, BANDWIDTH, CHANNEL_NUM, 
      FACTORY_CODE, FDTYPE_CODE, DESCS
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{swversion,jdbcType=VARCHAR}, 
      #{hdversion,jdbcType=VARCHAR}, #{bandwidth,jdbcType=INTEGER}, #{channelNum,jdbcType=INTEGER}, 
      #{factoryCode,jdbcType=VARCHAR}, #{fdtypeCode,jdbcType=VARCHAR}, #{descs,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.data.itsv.model.VAnalyseFdTemplate">
    insert into v_analyse_fd_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="swversion != null">
        SWVERSION,
      </if>
      <if test="hdversion != null">
        HDVERSION,
      </if>
      <if test="bandwidth != null">
        BANDWIDTH,
      </if>
      <if test="channelNum != null">
        CHANNEL_NUM,
      </if>
      <if test="factoryCode != null">
        FACTORY_CODE,
      </if>
      <if test="fdtypeCode != null">
        FDTYPE_CODE,
      </if>
      <if test="descs != null">
        DESCS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="swversion != null">
        #{swversion,jdbcType=VARCHAR},
      </if>
      <if test="hdversion != null">
        #{hdversion,jdbcType=VARCHAR},
      </if>
      <if test="bandwidth != null">
        #{bandwidth,jdbcType=INTEGER},
      </if>
      <if test="channelNum != null">
        #{channelNum,jdbcType=INTEGER},
      </if>
      <if test="factoryCode != null">
        #{factoryCode,jdbcType=VARCHAR},
      </if>
      <if test="fdtypeCode != null">
        #{fdtypeCode,jdbcType=VARCHAR},
      </if>
      <if test="descs != null">
        #{descs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>