<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.itsv.mapper.VStoragepoliesMapper">
  <resultMap id="BaseResultMap" type="com.data.itsv.model.VStoragepolies">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="STARTTIME" jdbcType="TIMESTAMP" property="starttime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="CODETYPE" jdbcType="INTEGER" property="codetype" />
    <result column="FRAMERATE" jdbcType="INTEGER" property="framerate" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="MODIFYTIME" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="AHEAD" jdbcType="INTEGER" property="ahead" />
    <result column="LAG" jdbcType="INTEGER" property="lag" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CYCLE" jdbcType="INTEGER" property="cycle" />
    <result column="DESCS" jdbcType="VARCHAR" property="descs" />
    <result column="DETAIL" jdbcType="VARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, STARTTIME, ENDTIME, CODETYPE, FRAMERATE, CREATETIME, MODIFYTIME, AHEAD, LAG, 
    `NAME`, `CYCLE`, DESCS, DETAIL
  </sql>
  <select id="selectByPrimaryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_storagepolies
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.data.itsv.model.VStoragepolies">
    insert into v_storagepolies (ID, STARTTIME, ENDTIME, 
      CODETYPE, FRAMERATE, CREATETIME, 
      MODIFYTIME, AHEAD, LAG, 
      `NAME`, `CYCLE`, DESCS, 
      DETAIL)
    values (#{id,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{codetype,jdbcType=INTEGER}, #{framerate,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{modifytime,jdbcType=TIMESTAMP}, #{ahead,jdbcType=INTEGER}, #{lag,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{cycle,jdbcType=INTEGER}, #{descs,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.data.itsv.model.VStoragepolies">
    insert into v_storagepolies
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="starttime != null">
        STARTTIME,
      </if>
      <if test="endtime != null">
        ENDTIME,
      </if>
      <if test="codetype != null">
        CODETYPE,
      </if>
      <if test="framerate != null">
        FRAMERATE,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="modifytime != null">
        MODIFYTIME,
      </if>
      <if test="ahead != null">
        AHEAD,
      </if>
      <if test="lag != null">
        LAG,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="cycle != null">
        `CYCLE`,
      </if>
      <if test="descs != null">
        DESCS,
      </if>
      <if test="detail != null">
        DETAIL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="codetype != null">
        #{codetype,jdbcType=INTEGER},
      </if>
      <if test="framerate != null">
        #{framerate,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="ahead != null">
        #{ahead,jdbcType=INTEGER},
      </if>
      <if test="lag != null">
        #{lag,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null">
        #{cycle,jdbcType=INTEGER},
      </if>
      <if test="descs != null">
        #{descs,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>