<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.itsv.mapper.VTmpDirMapper">
  <resultMap id="BaseResultMap" type="com.data.itsv.model.VTmpDir">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PARENT_ID" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PARENT_ID
  </sql>
  <select id="selectByPrimaryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_tmp_dir
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.data.itsv.model.VTmpDir">
    insert into v_tmp_dir (ID, PARENT_ID)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.data.itsv.model.VTmpDir">
    insert into v_tmp_dir
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>